/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 200%;
  background-color: $secondary;
}

.mat-raised-button{
  color: $tertiary;
  background-color: $primary;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
a{
  text-decoration: none;
}





