/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #333 }

$primary : #66a377;
$secondary : #333;
$tertiary : white;

.mat-raised-button{
  color: $tertiary;
  background-color: $primary;
}
