@import "../../mixins";
@import "../../variables";

h1{
  color: $primary;
  -webkit-text-stroke: 1px $secondary; /* width and color */
  margin: 30px 0;
  font-size: 400%;
  font-weight: bold;
}

/* main {
  @include flexCol;

  .main-content{
    @include flexCol;
  }

  .form-area {
    width: 80%;

    @include small-screen {
      width: 85%;
    }

    @include desktop {
      width: 90%;
    }

    @include large-desktop {
      width: 95%;
    }

    p {
      margin-top: 15px;
      text-align: center;

      mat-form-field {
        width: 100%;
      }

      .time::-webkit-calendar-picker-indicator {
        background: none;
      }
    }

  }
} */

main {
  @include flexCol;
  *{width: 90%}

  form{
    @include flexCol;
    *{width: 100%}
  }



}


