@import "../../mixins";
@import "../../variables";
@import "../../content-centerer-mixins";

h1{
  color: $primary;
  -webkit-text-stroke: 1px $secondary; // width and color
  margin: 30px 0;
  font-size: 400%;
  font-weight: bold;
}

main {

  @include main-content;
  @include form-content;

  .txt {
    @include flexCol;
    color: $primary;
  }
}
