@import "../../mixins";
@import "../../variables";

h1{
  color: $primary;
  -webkit-text-stroke: 1px $secondary; /* width and color */
  margin: 30px 0;
  font-size: 400%;
  font-weight: bold;
}

main {
  @include flexCol;
  width: 100%;

  form{
    @include flexCol;

    p,  {
      @include mobile {
        width: 90%;
      }

      @include mobile {
        width: 85%;
      }

      @include small-screen {
        width: 50%;
      }

      @include desktop {
        width: 50%;
      }

      @include large-desktop {
        width: 40%;
      }

      mat-form-field {
        width: 100%;
      }
    }

    .txt {
      @include flexCol;
      color: $primary;
    }


  }

  .main-content{
     // background-color: red;
    width: 90%;
  }


}

