<app-enter-page>
  <main>
    <h1>J Together</h1>

    <div class="main-content">
      <form>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Username o e-mail</mat-label>
            <input [(ngModel)]="username" name="username" matInput >
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-hint>Inserisci il tuo username o la tua email</mat-hint>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline" >
            <mat-label>Password</mat-label>
            <input matInput name="password" [(ngModel)]="password"  [type]="hide ? 'password' : 'text'" placeholder="Password">
            <mat-hint >Inserisci la tua password</mat-hint>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>

        <p><button mat-raised-button (click)="doLogin($event)">Login</button></p>

        <p><a class="txt" (click)="forgottenPassword($event)">Password dimenticata?</a></p>

        <p><button mat-raised-button (click)="doSignup($event)">Non hai un'account ? Registrati!</button></p>

      </form>
    </div>

  </main>
</app-enter-page>
