<app-navbar [title]="'Profilo'"></app-navbar>

<main>

  <div class="sup">
    <div class="profPic">
      <img src="http://www-db.deis.unibo.it/courses/TW/DOCS/w3schools/w3css/img_avatar3.png" alt="Avatar" class="avatar">
    </div>

    <div class="profNameEmail">
      <span> {{name}} </span>
      <span> {{email}} </span>
    </div>

    <button class="modify" mat-raised-button>Modifica profilo</button>
  </div>

  <app-card-list>
    <li *ngFor="let card of cards">
      <app-profile-card
        [imageUrl]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"
        [name]="card.name"
        [creator]="card.creator"
        [place]="card.place"
        [dateTime]="card.date_time"
        [description]="card.description"
        [id]="card.id"
      ></app-profile-card>
    </li>
  </app-card-list>


</main>












