<app-navbar [title]="'Profilo'"></app-navbar>


<main>

  <div class="sup">
    <div class="profPic">
      <img src="http://www-db.deis.unibo.it/courses/TW/DOCS/w3schools/w3css/img_avatar3.png" alt="Avatar" class="avatar">
    </div>

    <div class="profNameEmail">
      <span> {{utente}} </span>
      <span> {{email}} </span>
    </div>

    <button mat-raised-button>Modifica profilo</button>
  </div>


  <app-card-list>
    <li *ngFor="let card of cards">
      <app-profile-card [imageUrl]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"></app-profile-card>
    </li>
  </app-card-list>

</main>












