<app-navbar [title]="'JTogether'"></app-navbar>
<main>
  <mat-form-field appearance="outline" class="searchbar">
    <mat-label>Ricerca</mat-label>
    <input name="location" matInput [(ngModel)]="searchValue" placeholder="E.g. chiara scarsa" (keyup.enter)="search()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <app-navigation-buttons [notifications]="this.notificationsNumber"></app-navigation-buttons>

  <app-card-list>
    <li *ngFor="let activity of activities">
      <app-home-card
        [geolocation]="activity.geolocation"
        [activityId]="activity.id"
        [location]="activity.location"
        [name]="activity.name"
        [creator]="activity.creator_username"
        [description]="activity.description"
        [dateTime]="activity.date_time"
        [imageUrl]="activity.profile_pic"></app-home-card></li>
  </app-card-list>
</main>
