<app-navbar [title]="'JTogether'"></app-navbar>
<main>
  <mat-form-field appearance="outline">
    <mat-label>Ricerca</mat-label>
    <input name="location" matInput [(ngModel)]="searchValue" placeholder="E.g. chiara scarsa" (keyup.enter)="search()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <app-navigation-buttons></app-navigation-buttons>

  <app-card-list>
    <li *ngFor="let activity of activities">
      <app-home-card
        [name]="activity.name"
        [creator]="activity.creator"
        [description]="activity.description"
        [dateTime]="activity.date_time"
        [imageUrl]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"></app-home-card></li>
  </app-card-list>
</main>
