
<<<<<<< HEAD
=======
main{
  margin: 0 auto;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 98%;
}
>>>>>>> 13abeec115c72da32ee6eeb62723a4eda7e11604
