<ul>
  <li><button mat-raised-button (click)="toCreateActivity()"><mat-icon>add</mat-icon></button></li>
  <li><button mat-raised-button (click)="toParticipatedActivities()"><mat-icon>list</mat-icon></button></li>
  <!--<li><button mat-raised-button><mat-icon>chat</mat-icon></button></li> -->
  <li><button mat-raised-button [matBadge]=this.notifications matBadgePosition="after" (click)="toNotifications()" ><mat-icon>notifications</mat-icon></button></li>
  <li><button mat-raised-button (click)="toProfile()"><mat-icon>account_circle</mat-icon></button></li>
</ul>
<p></p>
<!-- <ul>
  <li><button mat-raised-button>Crea attività</button></li>
  <li><button mat-raised-button>Attività partecipate</button></li>
  <li><button mat-raised-button>Notifiche</button></li>
  <li><button mat-raised-button>Profilo</button></li>
</ul> -->
