@import "../../styles";
@import "../../mixins.scss";
@import "../../card-mixin.scss";

@include cardHeader;
@include cardContent;

mat-card-actions{
  @include flexCol;
  button {
    width: 95%;
    margin: 3%;
    box-shadow: 2px 2px 10px $dark;
  }
  @include removeRedColor;
}

