@import "../../styles";
@import "../../mixins.scss";

mat-card-content{
  margin: 0;
  ul{
    margin-left: 2%;
    padding: 0;
    li{
      &:not(:first-child){
        margin: 10px 0;
      }
      display: flex;
      align-items: center;

      mat-icon{
        color: $primary;
      }
      span{
        margin-left: 5%;
      }
    }
  }
  p{
    text-align: justify;
  }
}

mat-card-actions{
  @include flexRow;

  mat-icon{
    color: $primary;
    transform: scale(2);
    padding: 8%;
  }

  .exit{
    color:  #f44336;
  }

}




