<app-navbar [title]="'Impostazioni'"></app-navbar>

<main>
  <mat-list>
    <mat-list-item><mat-icon>nightlight_round</mat-icon> Dark Theme</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-icon>paid</mat-icon> Buy Pro Version</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-icon>security</mat-icon> Privacy</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-icon>notifications_active</mat-icon> Notifiche</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-icon>help</mat-icon> Aiuto</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-icon>person_add</mat-icon> Invita un amico</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-icon>logout</mat-icon> Logout</mat-list-item>
  </mat-list>
</main>
