<main>
  <form>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input [(ngModel)]="email" name="email" matInput placeholder="Ex. Jotaro.Kujo@JoJo.jp">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>Inserisci la tua mail</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput name="password" [(ngModel)]="password"  [type]="hide ? 'password' : 'text'" placeholder="Password">
        <mat-hint>Inserisci la tua password</mat-hint>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>

    <p>
      <button mat-raised-button (click)="update()">Modifica password</button>
    </p>

  </form>
</main>
