<mat-card (mouseover)="flipCard()" (mouseout)="flipCard()">

  <mat-card-header>
    <img mat-card-avatar src="{{imageUrl}}">
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-subtitle>{{creator}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="!cardSide">
    <ul>
      <li><mat-icon>grade</mat-icon> <span>{{name}}</span></li>
      <li><mat-icon>location_on</mat-icon> <span>{{place}}</span></li>
      <li><mat-icon>watch_later</mat-icon> <span>{{dateTime}}</span></li>
    </ul>
  </mat-card-content>
  <mat-card-content *ngIf="cardSide">
    <p>{{description}}</p>
  </mat-card-content>

  <mat-card-actions >
    <button id="f" mat-raised-button (click)="modifyActivity()">Modifica</button>
    <button mat-raised-button>Chat</button>
    <button class="remove" mat-raised-button (click)="delete()">Elimina</button>
  </mat-card-actions>

</mat-card>
