@import "../../mixins";

ul{
  border-bottom: 1px solid #999;
  margin: 5px 0;
  max-height: 75vh;
  overflow-y: scroll;

  li{
    word-break: break-word;
    padding: 5px 1%;
  };
}
mat-form-field{
  display: block;
  width: 99%;
  margin: 5px auto 0;
}
