@import "../../styles";

mat-toolbar{
  background-color: $dark;
  a,mat-icon{
    color: $primary;
    &:hover{
      cursor: pointer;
    }
  }
  .example-spacer {
    flex: 1 1 auto;
  }
}




