@import "../../styles";
@import "../../card-mixin.scss";


@include cardHeader;
@include cardContent;


mat-card-actions{
  text-align: center;

  button {
    width: 95%;
    margin: 2%;
    box-shadow: 2px 2px 10px $dark;

    align-items: flex-end;
  }
}
