<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <mat-card-title>No Jojo No Party</mat-card-title>
    <mat-card-subtitle>Ismam, Lorenzo, Chiara, Vlad</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div>
  <li *ngFor="let number of numbers" style="list-style-type:none;">
    <app-chat-message-card></app-chat-message-card>
  </li>
</div>

<mat-form-field appearance="outline">
  <mat-label>Invia messaggio</mat-label>
  <input name="text" matInput placeholder="Scrivi un messaggio">
  <mat-icon matSuffix>send</mat-icon>
</mat-form-field>
