@import "../../mixins";

ul#card-list{
  @include flexRow;
  justify-content: space-between;
}

:host ::ng-deep ul#card-list > li{
  width: 100%;
  margin-top: 20px;
  @include mobile{
    width: 48%;
  }
  @include tablet{
    width: 32%;
  }
  @include small-screen{
    width: 23.5%;
  }
  @include desktop{
    width: 19%;
  }
}

