@import "../../mixins";

ul#card-list{
  @include flexRow;
  align-content: stretch;
  justify-content: space-between;
}

:host ::ng-deep ul#card-list > li{
  width: 100%;
  margin-top: 20px;
  @include tablet {
    width: 48%;
  }
  @include small-screen {
    width: 32%;
  }
  @include desktop {
    width: 23.5%;
  }
  @include large-desktop {
    width: 19%;
  }
}

